[submodule "test/lib/ArduinoJson"]
	path = test/lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "extras/cmake_example/lib/cpp-client"]
	path = extras/cmake_example/lib/cpp-client
	url = https://github.com/ArkEcosystem/cpp-client.git
